*, *::after, *::before{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}


body{
 height: 100vh;
 /* background-color: linear-gradient(to top right, rgb(104, 220, 255), rgb(129, 27, 90)); */
 background: linear-gradient(to top right, rgb(104, 220, 255), rgb(129, 27, 90));
 background-repeat:no-repeat;
 /* background-clip: border-box;
 background-size: cover; */
 padding: 40px 0px;
 display: flex;
 align-items: center;
 justify-content: center;
}

main{
 background-color: white;
 padding: 15px 20px;
 border-radius: 6px;
}

.form_title{
 font-size: 30px;
 font-family: "Roboto", serif;
 text-align: center;
 padding: 4vw 120px;
}

form > div{
 margin-top: 5px;
 margin-bottom: 2vw;
 border-bottom: 1px solid rgb(92, 91, 91);
}

form > div > input{
 color: rgb(92, 91, 91);
 font-size: 20px;
 border: none;
 margin-bottom: 5px;
 outline: none;
}

form > div:hover{
 border-bottom: 3px solid black;
}

label{
 font-family: 'Zilla Slab', serif;
 font-weight: bold;
}

#submit{
 width: 100%;
 text-align: center;
 background: linear-gradient(to right, rgb(104, 220, 255), rgb(119, 24, 83));
 padding: 10px;
 border-radius: 50px;
 outline: none;
 border: none;
 margin-top: 1vw;
 font-family: 'Zilla Slab', serif;
 font-weight: bold;
 color: white;
 text-transform: uppercase;
 font-size: 20px;
}

.other{
 color: rgb(112, 111, 111);
 font-family: 'Zilla Slab', serif;
 width: 100%;
 text-align: center;
 padding: 30px;
} 


@media (max-width: 510px) and (min-width: 230px) and (orientation: portrait){
 body{
  height: 100vh;
  padding: 130px 5px;
 }

 main{
  padding: 25px;
 }

 .form_title{
  font-size: 28px;
  padding: 20px 0px;
 }

 #submit{
  font-size: 18px;
  margin-top: 10px;
 }
}